* {
  margin: 0;
  padding: 0;
  }

  body{ margin: 20px; }



  .form-container { margin: 25px auto; }

  .add-customer__form {
    display: flex;
    flex-direction:column;
    padding:10px;
    background-image:linear-gradient(to bottom, #31d2f2, #8de4f5);
    border-radius:10px;
  }

  .add-customer__form label {
    margin-right: auto;
  }

  .form__input {
    margin: 1px;
    border:none;
    border-radius: 3px;
    font-size:16px;
    outline: none;
  }

  .form__button--submit {
    margin: 5px 0 0 auto;
    padding: 10px 15px;
    width: 50%;
    border: 1px solid #57ce92;
    border-radius: 10px;
    background: #4bca8f;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    outline-color: #2f9b69;
  }

  .form__button--submit:hover {
    transform: scale(0.95);
  }
.customer__card-container {
  display:flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;

}

  .customer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width:300px;
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
  }

  .customer-name{
    text-transform: capitalize;
  }

  .customer-added__date {
    color: black;
    font-size:10px;
  }

  .btn {
    display: inline-block;

    color: #fff;
    border: none;
    padding: 5px 10px;
    margin:10px 10px 0 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }

  .btn:focus {
    outline: none;
  }

  .btn:active {
    transform: scale(0.98);
  }

.bg--red {
background-color:#f02e52;
}

.bg--blue {
  background-color: #31d2f2;
}


@media (min-width: 768px){
  .add-customer__form {
    width:40%;
    margin: 10px auto;
  }

  .customer__card-container {
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
  }

  .customer__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin: 10px 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius:5px;
  }
}




